.book-item {
  margin: 0 10px 10px 0;
}

.disp-none{
  display: none;
}

.font-medium
{
  font-size: 18pt;
}
.font-normal
{
  font-size: 15pt;
}
.vert-align-center {
  vertical-align: center;
}
.margin-top-15px
{
  margin-top: -15px;
}
.margin-top-23px
{
  margin-top: -23px;
}
.margin-top9px
{
  margin-top: 9px;
}

.margin-top21px
{
  margin-top: 21px;
}
.margin-top12px
{
  margin-top: 12px;
}

.margin-top-39px
{
  margin-top: -39px;
}
.margin-lest-15px
{
  margin-left: -12px;
}
.margin-top-30px
{
  margin-top: -30px;
}
.margin-right5px
{
  margin-right: 5px;
}


#footer {
  position: fixed;
  left: 25%; bottom: 5px;
  padding: 10px;
  opacity: 0.9;
  width: 50%;
  border-radius: 10px;
  z-index: 9;
}


#subscription-box {
  position: fixed;
  right: 0; bottom: 5px;
  padding: 10px;
  margin-right: 7px;
  opacity: 0.95;
  width: 300px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 30px;

  z-index: 9;
  background-color: #00efb2;
}









.height-330px
{
  height: 330px ;
}

.pading15
{
  padding: 15px;
}


.border-radius5
{
  border-radius:5px;
}
.width100
{
  width: 100%;
}

.title-image
{
  max-width:100%;
  height:auto;
}
.figure
{
  width:50%;
}
.comment-form
{
  height: 230px;
}
.date-comment-in-news
{
  font-size: 13px;
  margin: auto auto 3px 5px;
}


.comment-textarea
{
  height: 120px;
  resize: none
}
.blurb-form
{
  border-width: 3px;
  border-color: #524dbc;
  border-radius: 9px;
  border-style: solid;
  margin-top: 18px;
  text-align: center;

}


.bg-my-blue
{
  background-color: #686BFF;
  border-color: #524dbc;

}

.bg-my-soft-rad
{
  background-color: #FF9A6A;
  border-color: #bc0700;
}

.bg-my-soft-green
{
  background-color: #0c5460;
  border-color: #00efb2;
}

.bg-my-soft-grey
{
  background-color: #879DB0;
  border-color: #524dbc;
}

.blub-price
{
  font-size: 33px;
  color: white;
  margin-top: -10px;
  font-weight: bold;
}


.blurb-price-dick
{
  font-size: 36px;
  margin-top: -10px;
  color: red;
  font-weight: bold;
}

.discont-firld
{
  border-top: 4px solid #007bff;
  border-radius: 7px;
  background-color: white;
  color: #0a0909;
}
.discont-number
{
  font-size: 20px;
}


.finger-up-font-size
{
  font-size: 25px;
  margin-top: -12px;
  color: #007bff;
}

.finger-down-font-size
{
  font-size: 25px;
  margin-top: -7px;
  color: #bd2130;
}
.margin-left11px
{
 margin-left:11px;
}



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}











.serch-imput
{
  width: 200px ;
  height: auto;
  position: absolute;
  z-index: 9;

}

.my-form-control {
  display: block;
  width: 197px;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;

}



body {
  margin: 0;
  padding: 0;
}

#block-for-slider {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
}
