.book-item {
  margin: 0 10px 10px 0;
}

.disp-none{
  display: none;
}

.font-medium
{
  font-size: 18pt;
}
.font-normal
{
  font-size: 15pt;
}
.vert-align-center {
  vertical-align: center;
}
.margin-top-15px
{
  margin-top: -15px;
}
.margin-top-23px
{
  margin-top: -23px;
}
.margin-top9px
{
  margin-top: 9px;
}
.height-330px
{
  height: 330px ;
}

.title-image
{
  max-width:100%;
  height:auto;
}
.figure
{
  width:50%;
}
.comment-form
{
  height: 250px;
}
.comment-textarea
{
  height: 150px;
  resize: none
}
.serch-imput
{
  width: 200px ;
  height: auto;
  position: absolute;
  z-index: 9;
  width: 300px;
}


.my-form-control {
  display: block;
  width: 197px;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;

}



body {
  margin: 0;
  padding: 0;
}

#block-for-slider {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
}
